body {
  min-height: 300vh;
}
.jumbotron {
  padding-top: 7rem;
  background: linear-gradient(#2e2d2d, #0b0b0b);
}

#mypassion {
  margin-top: 20px;
  background-image: url(img/wp8176705.jpg);
  background-position: center;
  background-attachment: fixed;
  background-size: cover;
}

section {
  padding-top: 5rem;
}

li a {
  transition: all 0.5s ease 1s;
  display: inline-block;
}

li a:hover {
  color: #7d7979;
  transform: rotate(2deg);
}

input[type='text'] {
  color: white;
}

input:focus[type='text'] {
  color: white;
}

input[type='email'] {
  color: white;
}

input:focus-visible[type='email'] {
  color: white;
}

#pesan {
  color: white;
}

.logo a {
  margin-left: 13px;
}
