* {
  box-sizing: border-box;
}
body {
  height: auto;
}

.jumbotron {
  padding-top: 6rem;
  background: linear-gradient(#282727, #0b0b0b);
}

#mypassion {
  padding-top: 20px;
  background-image: url(img/wp8176705.jpg);
  background-position: center;
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-size: cover;
}

li a {
  transition: all 0.5s ease;
}

li a:hover {
  color: #7d7979;
  transform: rotate(2deg);
}

input[type='text'] {
  color: white;
}

input:focus[type='text'] {
  color: white;
}

input[type='email'] {
  color: white;
}

input:focus-visible[type='email'] {
  color: white;
}

#pesan {
  color: white;
}

.navbar {
  position: relative;
}
