body {
  min-height: 300vh;
}
.jumbotron {
  padding-top: 7rem;
  background: linear-gradient(#383636, #0b0b0b);
}

#myjourney {
  background-image: url(img/wp8176705.jpg);
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 100vh;
}
