body {
  max-width: 100%;
  min-height: auto;
}
.jumbotron {
  padding-right: 0;
  padding-top: 7rem;
  background: linear-gradient(#282727, #0b0b0b);
}

#mypassion {
  margin-top: 20px;
  background-image: url(img/wp8176705.jpg);
  background-position: center;
  background-attachment: fixed;
  background-size: cover;
}

section {
  padding-top: 5rem;
}

li a {
  transition: all 0.5s ease;
}

li a:hover {
  color: #7d7979;
  transform: rotate(2deg);
}

input[type='text'] {
  color: white;
}

input:focus[type='text'] {
  color: white;
}

input[type='email'] {
  color: white;
}

input:focus-visible[type='email'] {
  color: white;
}

#pesan {
  color: white;
}

.logo a {
  margin-left: 13px;
}

.navbar {
  position: relative;
}
