* {
  box-sizing: border-box;
}
body {
  height: auto;
}

.jumbotron {
  padding-top: 6rem;
  color: black;
  background: rgba(0, 0, 0, 0.853) url('img/back1.jpg') center repeat-x;
  background-size: cover;
  backdrop-filter: blur(50px);
}

#mypassion {
  padding-top: 20px;
  background-image: url(img/wp8176705.jpg);
  background-position: center;
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-size: cover;
}

.card {
  background-color: rgba(0, 0, 0, 0.6);
}

li a {
  transition: all 0.5s ease;
}

li a:hover {
  color: #7d7979;
  transform: rotate(2deg);
}

input[type='text'] {
  color: white;
}

input:focus[type='text'] {
  color: white;
}

input[type='email'] {
  color: white;
}

input:focus-visible[type='email'] {
  color: white;
}

#pesan {
  color: white;
}

.navbar {
  position: relative;
}
